# DB Config
DATABASE_URL=postgresql://root:M7a64tl0@localhost:5432/elo

# Service Config
REDIS_URL=redis://localhost:6379
MINIO_USER=
MINIO_PASSWORD=

# Auth Config
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Email Config
RESEND_API_KEY=

# Axiom
NEXT_PUBLIC_AXIOM_TOKEN=
NEXT_PUBLIC_AXIOM_DATASET=
